{% extends "ActEnvmainBundle:Main:inside.html.twig" %}

{% block title "Valorisation & Recyclage des déchets" %}
{% block subtitle "Valorisation / Recyclage" %}

{% block form %}

<article class="post">
<div class="imageholder">
  <img src="{{ asset('bundles/actenvmain/images/illustrations/70.jpg') }}" width="238"  ></div>
<section class="entry">
<h3>Le renouveau des matières</h3>
<p>
La valorisation permet une <strong>rentabilité</strong> le plus souvent dès le court terme.
</p>
<p>
<strong>Actes Environnement</strong> met à votre service son expérience et sa méthodologie pour rechercher, en collaboration avec votre équipe technique, les moyens internes nécessaires à la diminution de la production de déchets ainsi que les solutions externes destinées à <strong>valoriser ou recycler les résidus</strong> de fin de process.
</p>
</section>

<div class="clear"></div>
</article>

<article class="post">
<div class="imageholder">
  <img src="{{ asset('bundles/actenvmain/images/illustrations/balles.jpg') }}" width="238"  ></div>
<section class="entry">
<h3>Plastiques et caoutchouc</h3>
<p>
<ul class="ligreen">
<li><span class="defaultFontColor">Famille des TPE (granulés déclassés, chutes de production, mélange TPE+PP)</span></li>
<li><span class="defaultFontColor">PP</span></li>
<li><span class="defaultFontColor">ABS</span></li>
<li><span class="defaultFontColor">PE-HD</span></li>
<li><span class="defaultFontColor">Arnitel</span></li>
<li><span class="defaultFontColor">Gomme naturelle non vulcanisée</span></li>
<li><span class="defaultFontColor">Caoutchouc vulcanisé avec inserts métalliques</span></li>
<li><span class="defaultFontColor">Caoutchouc vulcanisé</span></li>
<li><span class="defaultFontColor">...</span></li>
</ul>
</p>
</section>

<div class="clear"></div>
</article>

<article class="post">
<div class="imageholder">
  <img src="{{ asset('bundles/actenvmain/images/illustrations/guano.jpg') }}" width="238" ></div>
<section class="entry">
<h3>Produits organiques</h3>
<p>
<ul class="ligreen">
<li><span class="defaultFontColor">Arêtes de poissons déprotéinés</span></li>
<li><span class="defaultFontColor">Oeufs de poissons</span></li>
<li><span class="defaultFontColor">Moules congelées date de péremption dépassée</span></li>
<li><span class="defaultFontColor">Sardines et maquereaux congelés</span></li>
<li><span class="defaultFontColor">Boue de process agroalimentaire issue de produits carnés</span></li>
<li><span class="defaultFontColor">Sucre déclassé</span></li>
<li><span class="defaultFontColor">Poudre de lait déclassée</span></li>
<li><span class="defaultFontColor">Poudre cacao déclassé</span></li>
<li><span class="defaultFontColor">...</span></li>
</ul>
</p>
</section>

<div class="clear"></div>
</article>

<article class="post">
<div class="imageholder">
  <img src="{{ asset('bundles/actenvmain/images/illustrations/41b.jpg') }}" width="238" ></div>
<section class="entry">
<h3>Métaux</h3>
<p>
<ul class="ligreen">
<li><span class="defaultFontColor">Chutes et copeaux alu-lithium</span></li>
<li><span class="defaultFontColor">Poudre de fer et déchets de grenaille</span></li>
<li><span class="defaultFontColor">Déchets de grenaille inox (Ni-Cr ou Cr)</span></li>
<li><span class="defaultFontColor">Feuillards acier, inox et alu</span></li>
<li><span class="defaultFontColor">Poudre de zinc</span></li>
<li><span class="defaultFontColor">Poudre alu</span></li>
<li><span class="defaultFontColor">Boues de rectification</span></li>
<li><span class="defaultFontColor">Boues hydroxydes métalliques</span></li>
<li><span class="defaultFontColor">Calamine</span></li>
<li><span class="defaultFontColor">...</span></li>
</ul>
</p>
</section>

<div class="clear"></div>
</article>

<article class="post">
<div class="imageholder">
  <img src="{{ asset('bundles/actenvmain/images/illustrations/sulfate_cuivre.jpg') }}" width="238"  ></div>
<section class="entry">
<h3>Minéraux</h3>
<p>
<ul class="ligreen">
<li><span class="defaultFontColor">Bore (borax)</span></li>
<li><span class="defaultFontColor">Sulfate de cuivre</span></li>
<li><span class="defaultFontColor">Sulfate de sodium</span></li>
<li><span class="defaultFontColor">...</span></li>
</ul>
</p>
</section>

<div class="clear"></div>
</article>

<article class="post">
<div class="imageholder">
  <img src="{{ asset('bundles/actenvmain/images/illustrations/INDUS015.jpg') }}" width="238"  ></div>
<section class="entry">
<h3>Divers</h3>
<p>
<ul class="ligreen">
<li><span class="defaultFontColor">Big-bags</span></li>
<li><span class="defaultFontColor">Produit vaisselle</span></li>
<li><span class="defaultFontColor">Peinture poudre</span></li>
<li><span class="defaultFontColor">Huiles (Martol,…)</span></li>
<li><span class="defaultFontColor">...</span></li>
</ul>
</p>
</section>

<div class="clear"></div>
</article>

{% endblock %}
