<h1>Actualité</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th><td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Titre</th>                <td>{{ entity.title }}</td>        </tr>
        <tr>
            <th>Contenu</th>                <td>{{ entity.text }}</td>        </tr>
        <tr>
            <th>Apparait sur le site</th>                <td>{{ entity.isOnLine }}</td>        </tr>
        <tr>
            <th>Date de Publication</th>                <td>{{ entity.publicationDate|date('Y-m-d') }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    {% include 'ActEnvactualiteBundle:ActualiteAdmin:retour_list.html.twig' %}
    <li>
        <a href="{{ path('actualite_edit', { 'id': entity.id }) }}">
            Modifier cette actualité
        </a>
    </li>
    <li>
        <form action="{{ path('actualite_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer cette actualité</button>
        </form>
    </li>
</ul>
