<h1>Modifier une Actualite</h1>

<form action="{{ path('actualite_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Enregistrer les modifications</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('actualite') }}">
        Retour à la liste des Actualités
        </a>
    </li>
    <li>
        <form action="{{ path('actualite_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer cette Actualité</button>
        </form>
    </li>
</ul>
